<a href="https://colab.research.google.com/github/grandiscollier001/4400CrimeinCharlotte/blob/main/Extract_and_Clean_for_4400.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Pandas

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Read my CSVs

In [4]:
import pandas as pd

# Reading CSVs. I have 3 in total for my data.
df_incidents = pd.read_csv('/CMPD_Incidents.csv')
df_violent = pd.read_csv('/CMPD_Violent_Crime.csv')
df_realtor = pd.read_csv('/RealtorAgg.csv')

<ipython-input-4-5ec6031a678d>:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_incidents = pd.read_csv('/CMPD_Incidents.csv')

# Show the Info for Each Dataframe

## Dataframe for the Reported Incidents

In [4]:
# Get a concise summary of the Incidents DataFrame
print(df_incidents.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259087 entries, 0 to 259086
Data columns (total 29 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   X                          259087 non-null  float64
 1   Y                          259087 non-null  float64
 2   YEAR                       259087 non-null  int64
 3   INCIDENT_REPORT_ID         259087 non-null  object
 4   LOCATION                   259086 non-null  object
 5   CITY                       259086 non-null  object
 6   STATE                      259085 non-null  object
 7   ZIP                        176204 non-null  object
 8   X_COORD_PUBLIC             259086 non-null  float64
 9   Y_COORD_PUBLIC             259086 non-null  float64
 10  LATITUDE_PUBLIC            259086 non-null  float64
 11  LONGITUDE_PUBLIC           259086 non-null  float64
 12  DIVISION_ID                259086 non-null  object
 13  CMPD_PATROL_DIVISION       258853 non-null  object
 14  NPA                        259086 non-null  float64
 15  DATE_REPORTED              259086 non-null  object
 16  DATE_INCIDENT_BEGAN        259086 non-null  object
 17  DATE_INCIDENT_END          195013 non-null  object
 18  ADDRESS_DESCRIPTION        259085 non-null  object
 19  LOCATION_TYPE_DESCRIPTION  259086 non-null  object
 20  PLACE_TYPE_DESCRIPTION     259086 non-null  object
 21  PLACE_DETAIL_DESCRIPTION   259086 non-null  object
 22  CLEARANCE_STATUS           259086 non-null  object
 23  CLEARANCE_DETAIL_STATUS    259086 non-null  object
 24  CLEARANCE_DATE             104829 non-null  object
 25  HIGHEST_NIBRS_CODE         259086 non-null  object
 26  HIGHEST_NIBRS_DESCRIPTION  259086 non-null  object
 27  OBJECTID                   259086 non-null  float64
 28  GlobalID                   259086 non-null  object
dtypes: float64(8), int64(1), object(20)
memory usage: 57.3+ MB
None

In [8]:
# Drop Columns for the Incident DF
df_incidents = df_incidents.drop(columns=['LOCATION_TYPE_DESCRIPTION','PLACE_TYPE_DESCRIPTION', 'PLACE_DETAIL_DESCRIPTION', 'CLEARANCE_STATUS', 'CLEARANCE_DETAIL_STATUS', 'CLEARANCE_DATE', 'HIGHEST_NIBRS_CODE','HIGHEST_NIBRS_DESCRIPTION','OBJECTID','GlobalID' ])

In [10]:
# Drop rows where any cell is NaN
df_incidents.dropna(inplace=True)

In [14]:
other_data = pd.read_csv('/content/CMPD_Incidents.csv')
df_incidents['restored_column'] = other_data['OBJECTID']

<ipython-input-14-c21343dd23ee>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  other_data = pd.read_csv('/content/CMPD_Incidents.csv')

In [16]:
df.rename(columns={'restored_column': 'OBJECTID'}, inplace=True)

In [17]:
print(df_incidents.info())

<class 'pandas.core.frame.DataFrame'>
Index: 136324 entries, 2 to 259085
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   X                     136324 non-null  float64
 1   Y                     136324 non-null  float64
 2   YEAR                  136324 non-null  int64
 3   INCIDENT_REPORT_ID    136324 non-null  object
 4   LOCATION              136324 non-null  object
 5   CITY                  136324 non-null  object
 6   STATE                 136324 non-null  object
 7   ZIP                   136324 non-null  object
 8   X_COORD_PUBLIC        136324 non-null  float64
 9   Y_COORD_PUBLIC        136324 non-null  float64
 10  LATITUDE_PUBLIC       136324 non-null  float64
 11  LONGITUDE_PUBLIC      136324 non-null  float64
 12  DIVISION_ID           136324 non-null  object
 13  CMPD_PATROL_DIVISION  136324 non-null  object
 14  NPA                   136324 non-null  float64
 15  DATE_REPORTED         136324 non-null  object
 16  DATE_INCIDENT_BEGAN   136324 non-null  object
 17  DATE_INCIDENT_END     136324 non-null  object
 18  ADDRESS_DESCRIPTION   136324 non-null  object
 19  restored_column       136324 non-null  int64
dtypes: float64(7), int64(2), object(11)
memory usage: 21.8+ MB
None

In [12]:
# Save the cleaned DataFrame to a new CSV file
df_incidents.to_csv('Incidents_cleaned.csv', index=False)

In [6]:
# Define the data dictionary details
incidents_details = {
    'Column': [
        'X', 'Y', 'YEAR', 'INCIDENT_REPORT_ID', 'LOCATION', 'CITY', 'STATE', 'ZIP',
        'X_COORD_PUBLIC', 'Y_COORD_PUBLIC', 'LATITUDE_PUBLIC', 'LONGITUDE_PUBLIC',
        'DIVISION_ID', 'CMPD_PATROL_DIVISION', 'NPA', 'DATE_REPORTED',
        'DATE_INCIDENT_BEGAN', 'DATE_INCIDENT_END', 'ADDRESS_DESCRIPTION',
        'LOCATION_TYPE_DESCRIPTION', 'PLACE_TYPE_DESCRIPTION', 'PLACE_DETAIL_DESCRIPTION',
        'CLEARANCE_STATUS', 'CLEARANCE_DETAIL_STATUS', 'CLEARANCE_DATE',
        'HIGHEST_NIBRS_CODE', 'HIGHEST_NIBRS_DESCRIPTION', 'OBJECTID', 'GlobalID'
    ],
    'Non-Null Count': [
        259087, 259087, 259087, 259087, 259086, 259086, 259085, 176204,
        259086, 259086, 259086, 259086, 259086, 258853, 259086, 259086,
        259086, 195013, 259085, 259086, 259086, 259086, 259086, 259086,
        104829, 259086, 259086, 259086, 259086
    ],
    'Data Type': [
        'float64', 'float64', 'int64', 'object', 'object', 'object', 'object', 'object',
        'float64', 'float64', 'float64', 'float64', 'object', 'object', 'float64',
        'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object',
        'object', 'object', 'object', 'object', 'float64', 'object'
    ]
}

# Create the DataFrame
data_dictionary_df = pd.DataFrame(incidents_details)

# Display the DataFrame
print(data_dictionary_df)

                       Column  Non-Null Count Data Type
0                           X          259087   float64
1                           Y          259087   float64
2                        YEAR          259087     int64
3          INCIDENT_REPORT_ID          259087    object
4                    LOCATION          259086    object
5                        CITY          259086    object
6                       STATE          259085    object
7                         ZIP          176204    object
8              X_COORD_PUBLIC          259086   float64
9              Y_COORD_PUBLIC          259086   float64
10            LATITUDE_PUBLIC          259086   float64
11           LONGITUDE_PUBLIC          259086   float64
12                DIVISION_ID          259086    object
13       CMPD_PATROL_DIVISION          258853    object
14                        NPA          259086   float64
15              DATE_REPORTED          259086    object
16        DATE_INCIDENT_BEGAN          259086    object
17          DATE_INCIDENT_END          195013    object
18        ADDRESS_DESCRIPTION          259085    object
19  LOCATION_TYPE_DESCRIPTION          259086    object
20     PLACE_TYPE_DESCRIPTION          259086    object
21   PLACE_DETAIL_DESCRIPTION          259086    object
22           CLEARANCE_STATUS          259086    object
23    CLEARANCE_DETAIL_STATUS          259086    object
24             CLEARANCE_DATE          104829    object
25         HIGHEST_NIBRS_CODE          259086    object
26  HIGHEST_NIBRS_DESCRIPTION          259086    object
27                   OBJECTID          259086   float64
28                   GlobalID          259086    object

## Dataframe for the Violent Crimes

In [5]:
# Get a concise summary of the Incidents DataFrame
print(df_violent.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62353 entries, 0 to 62352
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ROW_TYPE             62353 non-null  object
 1   GEOGRAPHY            62353 non-null  object
 2   GEOGRAPHY_ID         62353 non-null  int64
 3   CALENDAR_YEAR        62353 non-null  int64
 4   CALENDAR_MONTH       62353 non-null  int64
 5   OFFENSE_DESCRIPTION  62353 non-null  object
 6   OFFENSE_COUNT        62353 non-null  int64
 7   OBJECTID             62353 non-null  int64
dtypes: int64(5), object(3)
memory usage: 3.8+ MB
None

## Dataframe with Real Estate Info

In [6]:
# Get a concise summary of the Incidents DataFrame
print(df_realtor.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1418 entries, 0 to 1417
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   property_url    1418 non-null   object
 1   mls             1418 non-null   object
 2   mls_id          1418 non-null   object
 3   status          1418 non-null   object
 4   style           1418 non-null   object
 5   street          1406 non-null   object
 6   unit            234 non-null    object
 7   city            1418 non-null   object
 8   state           1418 non-null   object
 9   zip_code        1418 non-null   int64
 10  beds            903 non-null    float64
 11  full_baths      898 non-null    float64
 12  half_baths      441 non-null    float64
 13  sqft            720 non-null    float64
 14  year_built      766 non-null    float64
 15  days_on_mls     1418 non-null   int64
 16  list_price      904 non-null    float64
 17  list_date       1418 non-null   object
 18  sold_price      726 non-null    float64
 19  last_sold_date  726 non-null    object
 20  lot_sqft        324 non-null    float64
 21  price_per_sqft  719 non-null    float64
 22  latitude        1362 non-null   float64
 23  longitude       1362 non-null   float64
 24  stories         605 non-null    float64
 25  hoa_fee         47 non-null     float64
 26  parking_garage  313 non-null    float64
 27  primary_photo   1345 non-null   object
 28  alt_photos      1345 non-null   object
dtypes: float64(14), int64(2), object(13)
memory usage: 321.4+ KB
None

In [ ]:
data_dictionary_incidents = pd.Dataframe()

In [17]:
import pandas as pd

# Existing data dictionary DataFrame setup (as we did previously)
data_details = {
    'Column': [
        'X', 'Y', 'YEAR', 'INCIDENT_REPORT_ID', 'LOCATION', 'CITY', 'STATE', 'ZIP',
        'X_COORD_PUBLIC', 'Y_COORD_PUBLIC', 'LATITUDE_PUBLIC', 'LONGITUDE_PUBLIC',
        'DIVISION_ID', 'CMPD_PATROL_DIVISION', 'NPA', 'DATE_REPORTED',
        'DATE_INCIDENT_BEGAN', 'DATE_INCIDENT_END', 'ADDRESS_DESCRIPTION',
        'LOCATION_TYPE_DESCRIPTION', 'PLACE_TYPE_DESCRIPTION', 'PLACE_DETAIL_DESCRIPTION',
        'CLEARANCE_STATUS', 'CLEARANCE_DETAIL_STATUS', 'CLEARANCE_DATE',
        'HIGHEST_NIBRS_CODE', 'HIGHEST_NIBRS_DESCRIPTION', 'OBJECTID', 'GlobalID'
    ],
    'Non-Null Count': [
        259087, 259087, 259087, 259087, 259086, 259086, 259085, 176204,
        259086, 259086, 259086, 259086, 259086, 258853, 259086, 259086,
        259086, 195013, 259085, 259086, 259086, 259086, 259086, 259086,
        104829, 259086, 259086, 259086, 259086
    ],
    'Data Type': [
        'float64', 'float64', 'int64', 'object', 'object', 'object', 'object', 'object',
        'float64', 'float64', 'float64', 'float64', 'object', 'object', 'float64',
        'object', 'object', 'object', 'object', 'object', 'object', 'object', 'object',
        'object', 'object', 'object', 'object', 'float64', 'object'
    ]
}
data_dictionary_df = pd.DataFrame(data_details)

# New entries
new_columns = [
    'ROW_TYPE', 'GEOGRAPHY', 'GEOGRAPHY_ID', 'CALENDAR_YEAR', 'CALENDAR_MONTH',
    'OFFENSE_DESCRIPTION', 'OFFENSE_COUNT', 'OBJECTID',
    'property_url', 'mls', 'mls_id', 'status', 'style', 'street', 'unit',
    'city', 'state', 'zip_code', 'beds', 'full_baths', 'half_baths', 'sqft',
    'year_built', 'days_on_mls', 'list_price', 'list_date', 'sold_price',
    'last_sold_date', 'lot_sqft', 'price_per_sqft', 'latitude', 'longitude',
    'stories', 'hoa_fee', 'parking_garage', 'primary_photo', 'alt_photos'
]
new_non_null_counts = [
    62353, 62353, 62353, 62353, 62353, 62353, 62353, 62353,
    1418, 1418, 1418, 1418, 1418, 1406, 234, 1418, 1418, 1418, 903, 898, 441, 720,
    766, 1418, 904, 1418, 726, 726, 324, 719, 1362, 1362, 605, 47, 313, 1345, 1345
]
new_data_types = [
    'object', 'object', 'int64', 'int64', 'int64', 'object', 'int64', 'int64',
    'object', 'object', 'object', 'object', 'object', 'object', 'object',
    'object', 'object', 'int64', 'float64', 'float64', 'float64', 'float64',
    'float64', 'int64', 'float64', 'object', 'float64', 'object', 'float64',
    'float64', 'float64', 'float64', 'float64', 'float64', 'float64', 'object', 'object'
]

# Append new entries to the existing DataFrame
additional_data = pd.DataFrame({
    'Column': new_columns,
    'Non-Null Count': new_non_null_counts,
    'Data Type': new_data_types
})

data_dictionary_df = pd.concat([data_dictionary_df, additional_data], ignore_index=True)

# Display the updated DataFrame
print(data_dictionary_df)

# Save the updated data dictionary to CSV
data_dictionary_df.to_csv('updated_data_dictionary.csv', index=False)

                Column  Non-Null Count Data Type
0                    X          259087   float64
1                    Y          259087   float64
2                 YEAR          259087     int64
3   INCIDENT_REPORT_ID          259087    object
4             LOCATION          259086    object
..                 ...             ...       ...
61             stories             605   float64
62             hoa_fee              47   float64
63      parking_garage             313   float64
64       primary_photo            1345    object
65          alt_photos            1345    object

[66 rows x 3 columns]

In [18]:
# Save the updated data dictionary to CSV
data_dictionary_df.to_csv('/updated_data_dictionary.csv', index=False)

In [9]:
import csv
import subprocess
import os

In [22]:
# Path to your CSV data dictionary file
data_dictionary_path = 'updated_data_dictionary.csv'
# Path to the directory where the Git repository is located
git_repo_path = 'my-mongo-project/'
# File to store the formatted data
output_file_path = os.path.join(git_repo_path, 'data_file.csv')

In [24]:
# Function to read data from a CSV file
def extract_data(file_path):
    data = []
    with open(file_path, newline='') as csvfile:
        reader = csv.DictReader(csvfile)
        for row in reader:
            data.append(row)
    return data

# Function to add and commit the file to Git
def git_commit(file_path, repo_path, commit_message):
    # Change to the repository directory
    os.chdir(repo_path)
    # Add the file to staging
    subprocess.run(['git', 'add', file_path], check=True)
    # Commit the changes
    subprocess.run(['git', 'commit', '-m', commit_message], check=True)